name: Terraform CI/CD

on:
  workflow_dispatch:
  push:
    branches: [ main, dev, uat, terraform_azure ]
  pull_request:
    branches: [ main, dev, uat, terraform_azure ]

jobs:
  terraform-build-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Terraform

    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Azure Login
        run: |
          az login --service-principal \
            -u ${{ secrets.AZURE_CLIENT_ID }} \
            -p ${{ secrets.AZURE_CLIENT_SECRET }} \
            --tenant ${{ secrets.AZURE_TENANT_ID }}
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform Init
        working-directory: ${{ env.WORKING_DIR }} 
        run: terraform init -backend-config="Terraform-backend/terraform-state.hcl"

      - name: Terraform Validate
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform validate 

      - name: Terraform Plan
        run: terraform plan -input=false -var-file="variables.tfvars"

      - name: Terraform Apply
        if: github.event_name == 'push' && (github.ref_name == 'dev' || github.ref_name == 'uat' || github.ref_name == 'main' || github.ref_name == 'terraform_azure')
        run: terraform apply -auto-approve
